@media (max-width: 1152px) and (min-width: 1025px)
{
   #info
   {
      display: block;
      height: 72%;
      background-color: #E0E0E0;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
      font-family: Glyphicons;
      margin-top: 10px;
      margin-left: 10%;
      margin-right: 10%;
      background-image: url(../../images/willreaves.png);
      background-size: contain;
      background-position: 2% 1%;
      background-repeat: no-repeat;
      padding-left: 25%;
      padding-top: 15px;
   }

   #info p
   {
      line-height: 110%;
      padding: 5px;
      font-size: 115%;
      text-align: justify;
   }

   #info p:first-letter
   {
      font-size: 130%;
   }
}

@media (min-width: 1153px)
{
   #info
   {
      display: block;
      height: 72%;
      background-color: #E0E0E0;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
      font-family: Glyphicons;
      margin-top: 10px;
      margin-left: 13%;
      margin-right: 13%;
      background-image: url(../../images/willreaves.png);
      background-size: contain;
      background-position: 2% 1%;
      background-repeat: no-repeat;
      padding-left: 30%;
      padding-top: 15px;
   }

   #info p
   {
      line-height: 120%;
      padding: 5px;
      font-size: 125%;
      text-align: justify;
   }

   #info p:first-letter
   {
      font-size: 140%;
   }
}

#info ul
{
   margin-left: -20px;
}

#info ul li
{
   list-style-type: none;
   display: inline-block;
   margin: 10px 20px 0px 5px;
}

#info ul li a:hover
{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
}