body
{
   margin: 0;
}

header
{
   margin-top: -21px;
}

header h1
{
   padding: 25px 10px 10px 50px;
}

header hr
{
   height: 3px;
}

nav
{
   margin: 10px;
}

nav ul li
{
   display: inline;
   list-style-type: none;
   padding-left: 10px;
   padding-right: 10px;
}

footer
{
   position: fixed;
   bottom: 0px;
   border-top: 1px #000000 solid;
   text-align: center;
   width: 100%;
}