#me
{
   float: left;
   margin-top: 75px;
   width: 40%;
   height: 78%;
   text-align: center;
   vertical-align: middle;
}

#me img
{
   max-height: 700px;
}

#info
{
   display: block;
   float: left;
   margin-top: 225px;
   margin-left: -20px;
   background-color: #E0E0E0;
   border-radius: 15px;
   width: 40%;
   padding: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
}

#info p
{
   line-height: 1.5em;
}

#info p:first-letter
{
   font-size: 20pt;
}

#info ul
{
   margin-left: -20px;
}

#info ul li
{
   list-style-type: none;
   display: inline-block;
   margin: 10px 20px 0px 5px;
}

#info ul li a:hover
{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.48);
}